input{
    width: fit-content;
    height: fit-content;
    font-size: xx-large;
    color: blueviolet;
    border-radius: 2vh;
    border-color:brown;
    text-align: center;
}
button{
    width: fit-content;
    font-size: 3.5vh;
    color: blue;
    font-weight: bolder;
    border-radius: 1vh;
    background-color: aquamarine;
    border-color: blueviolet;
}
.container {
    display:block;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}